.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: black;
}

.sellingPriceValue--summary {
  text-align: center;
  font: 12px Poppins bold;
  letter-spacing: 0.6px;
  color: #000000;
  opacity: 1;
}

.savings--summary {
  background: #EFCAA4;
  height: 15px;
  width: 56px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font: 10px Poppins bold;
  letter-spacing: 1.5px;
  color: #000000;
  opacity: 1;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}