@font-face {
    font-family: 'Poppins Bold';
    src: url(assets/fonts/Poppins-Bold.ttf);
    font-weight: bold;
  }

@font-face {
    font-family: 'Poppins Light';
    src: url(assets/fonts/Poppins-Light.ttf);
    font-weight: lighter;
  }

@font-face {
    font-family: 'Poppins Medium';
    src: url(assets/fonts/Poppins-Medium.ttf);
    font-weight: medium;
  }

@font-face {
    font-family: 'Poppins Regular';
    src: url(assets/fonts/Poppins-Regular.ttf);
    font-weight: normal;
  }